@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-100: #222222;
  --font-inter:var(--font-inter);
  --color-accent-100: #FF9100;
  --color-accent-200: #FFCC00;  
  --color-tc-100: #222222;
  --breakpoint-des-3xl:1366px;
  --breakpoint-des-2xl:1280px;
  --breakpoint-des-xl:1166px;
  --breakpoint-tab-lg:1024px;
  --breakpoint-tab-md:990px;
  --breakpoint-tab-sm:768px;
  --breakpoint-mob-lg:749px;
  --breakpoint-mob-md:600px;
  --breakpoint-mob-sm:375px;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Inter";
}

